
/* # */

#text {
    background-color : rgb(236, 134, 134);
    border: 1px, solid black;
    margin: 20px;
    height: 100px;
    width: 500px;
}
button {
    height: 30px;
    width: 100px;
    background-color: rgb(192, 189, 189) ;
    margin-left: 20px;
}
.xxx {
    height: 100px;
    width: 200px;
    background-color: rgb(228, 225, 225);
    margin: 20px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
}
.yyy {
    height: 30px;
    width:208px;
    margin: 0, 20px, 20px, 20px;
    background-color: rgb(163, 211, 163);
    display: flex;
    justify-content: center;
    
}
#wrap {
    height: 200px;
    width: 300px;
    background-color: rgb(114, 196, 162);
    display: flex;
    flex-direction: column;
}

#menu_item {
    height: 30px;
    width: 250px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
div {
    /* height: 160px; */
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: rgb(135, 206, 206) ;
}
span {
    text-transform: uppercase ;
}

table, tr, td, th{
    border: 1px solid gray;
}
tr {
    height: 30px;
    width: 70px;
}
table {
    width: 800px;
    height: avto;
}
.trows {
    height: 30px;
    width: 60px;
    margin: 5px;
    border: 1px solid gray;
}
#divka {
    background-color: rgb(184, 241, 184);
    height: 400px;
    width: 100%;
}

#photoTape {
    height: 300px;
    width: 100%;
    background-color: rgb(71, 92, 71) ;
    display: flex;

}
.inner {
    display: flex;
}
#img {
    height: 300px;
    width: 700px;
}
#container {
    height: auto;
    width: 100%;
}